@page
@using azure_app_trev.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Azure App Services</h1>
</div>
